<h2 style="text-align: center;">NGX Electron Titlebar Demo</h2>

<div class="card" [ngStyle]="{'background-color': theme === 'dark' ? '#191919' : '#f6f6f6'}">
  <ngx-electron-titlebar 
    [theme]="theme" [os]="os" [title]="title" [draggable]="draggable" [fixed]="fixed"
    [tall]="tall" [transparent]="transparent" [rtl]="rtl">
  </ngx-electron-titlebar>
</div>

<div class="social">
  <a href="https://github.com/bennymeg/ngx-electron-titlebar">
    <fa-icon class="github-btn" [icon]="faGithub" size="2x" [spin]="false"></fa-icon>
  </a>
  &nbsp;&nbsp;
  <a href="https://www.npmjs.com/package/ngx-electron-titlebar">
    <fa-icon class="npm-btn" [icon]="faNpm" size="2x" [spin]="false"></fa-icon>
  </a>
</div>

<div style="margin-top: 32px; margin-left: 16px;">
  <span style="padding-right: 26px;">Theme:</span>
  <mat-radio-group aria-label="Theme" name="Theme" [(value)]="theme">
    <mat-radio-button value="dark" (change)="theme='dark'">Dark</mat-radio-button>&nbsp;&nbsp;
    <mat-radio-button value="light" (change)="theme='light'">Light</mat-radio-button>&nbsp;&nbsp;
  </mat-radio-group>

  <br/>

  <span style="padding-right: 16px;">OS Style:</span>
  <mat-radio-group aria-label="OS" name="OS" [(value)]="os">
    <mat-radio-button value="mac" (change)="os='mac'" style="padding-right: 2px;">Mac</mat-radio-button>&nbsp;&nbsp;
    <mat-radio-button value="win" (change)="os='win'" style="padding-right: 2px;">Windows</mat-radio-button>&nbsp;&nbsp;
    <mat-radio-button value="default" (change)="os='default'">Default</mat-radio-button>&nbsp;&nbsp;
  </mat-radio-group>

  <br/>
  <br/>

  <mat-slide-toggle [checked]="rtl" (change)="rtl = $event.source.checked">rtl (experimental)</mat-slide-toggle><br/>
  <mat-slide-toggle [checked]="fixed" (change)="fixed = $event.source.checked">fixed</mat-slide-toggle><br/>
  <mat-slide-toggle [checked]="draggable" (change)="draggable = $event.source.checked">draggable</mat-slide-toggle><br/>
  <mat-slide-toggle [checked]="transparent" (change)="transparent = $event.source.checked">transparent</mat-slide-toggle><br/>
  <mat-slide-toggle [checked]="tall" (change)="tall = $event.source.checked">tall (mac only)</mat-slide-toggle><br/>
</div>

<footer class="footer">
  <small>Benny Megidish &copy; 2021</small><br/>
</footer>