/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: 'Open Sans', sans-serif;
    padding: 0 16px;
    height: 100%;
    overflow: hidden;
    background-color: #fcfcfc;
}
